.header {
    padding: 1rem 0;
    font-size: 1.25rem;
}

.header .header-title{
    font-weight: bold;
}

.header .header-link{
    color: #000;
    transition: all 0.25s ease-in-out 0s;
}

.header .header-link, .header-link-active:hover{
    text-decoration: none;
    color: var(--primary);
}